.App {
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
}

.sidemenu {
  height: 100vh;
  width: 250px;
  background-color: aqua;
}

.main-sidemenu {
  height: 100vh;
  border: 0;
  outline: cyan;
  color: lightblue;
}

.sidemenu-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidemenu-list .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  background-color: cyan;
  border:  1px solid darkcyan;
  margin: 0%;
  display: flex;
  color:black;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans';
}

.sidemenu-list .row:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(20, 163, 173);
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

main {
  display: flex;
  width: 100%;
}

.left {
  display: flex;
  width: 250px;
  flex-direction: column;
}

.right {
  display: flex;
  width: 100%;
}